# Development
PORT=8006

# Production
VITE_YM_ID=
VITE_GENERATE_SOURCEMAP=false

# All
VITE_API_URL=http://localhost:25604
# VITE_API_URL=https://gg-api.ystuty.ru/s/schedule
# VITE_API_URL_INTERNAL=https://gg-api.ystu/s/schedule
VITE_MAIN_HOST=localhost
VITE_PWA_HOST=pwa-view.localhost

VITE_TELEGRAM_USERNAME=durov
VITE_TELEGRAM_BOT_NAME=durov_bot
VITE_VK_BOT_GROUP_NAME=durov

VITE_HAWK_TOKEN=
# VITE_SENTRY_DSN=https://

# Links
VITE_LINK_YSTUTY=http://ystuty.localhost
VITE_LINK_2GH=http://gh.ystuty.localhost
VITE_LINK_2VK=http://vk.ystuty.localhost
VITE_LINK_2ICS=http://ics.ystuty.localhost
VITE_LINK_SUPPORT=http://support.ystuty.localhost

VITE_VK_WIDGETS_API_ID=

# Deploy info
#X_SERVER=192.168.1.250
#X_SERVER=web_server
#X_DESTINATION=/var/www/web_view
#X_BUILD_DIR=./build
